
@base-font-family: Arial, sans-serif;
@base-background-color: #f5f5f5;

@text-color: #fff;
@primary-color: #333;
@secondary-color: #e0e0e0;
@accent-color: #222;

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: @base-background-color;
  font-family: @base-font-family;
  margin: 0;
  padding: 0 20px;
   align-items: center;


}

.home-hero,
.home-main,
.home-contact {
  flex:10;
   display: flex;
  align-items: center;
}
.home-hero {
  display: flex;
  align-items: center;
  height: 100rem;
  width: 100rem;
  padding: 40px;
  background-image: url("assets/logo.png"); 
  background-size: cover;
  background-position: center;
  color: @text-color;
  text-align: center;
}

.hero-content {
  flex: 1;
  text-align: center;
  color:whitesmoke;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
}

.hero-btn {
  background-color: @primary-color; 
  color: @text-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.2s ease-in-out; 

  &:hover {
    background-color: @accent-color; 
  }
}

.hero-image {
  width: 50%;
  height: auto;
  object-fit: cover; 
}

.home-main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-me,
.projects {
  background-color: #fff; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; 
}

h2 {
  margin: 0;
  font-size: 1.3em;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

.home-contact {
  padding: 20px;
  text-align: center;
  background-color: @secondary-color;
  position: relative; 
}

@media (max-width: 768px) {
  .home {
    padding: 1rem;
  }

  .home-main {
    gap: 20px;
  }

  .about-me,
  .projects {
    flex: 1 100%;
  }

  .home-hero,
  .home-contact {
    display: none; 
  }
}
